@import '../common/01-variables.less';

.task_03 {
    background-color: #272C34;
}

.task__03 {
    width : 180px;
    height: 180px;

    border-radius  : 50%;
    //border       : 1px solid white;

    overflow: hidden;
}

.pyramid {
    position: relative;
    opacity : 1;



    &__sun {
        position: absolute;
        top     : 7px;
        left    : 73px;

        width        : 34px;
        height       : 34px;
        border-radius: 50%;

        background: #FFEF00;

        transform-origin: 50% 400%;
        animation       : sunUpDown 4s cubic-bezier(.4, 0, .49, 1) infinite;
        z-index         : 2;
    }

    &__sky {
        width : 100%;
        height: 124px;

        background-color: #7DDFFC;
        animation       : fillSky 4s cubic-bezier(.4, 0, .49, 1) infinite;
    }

    &__body_left {
        position: absolute;
        left    : 35px;
        bottom  : 56px;

        width : 116px;
        height: 57px;

        background-color: #F4F4F4;
        clip-path       : polygon(0 100%, 100% 100%, 50% 0);
        animation       : pyramideShade 4s cubic-bezier(.4, 0, .49, 1) infinite;
    }

    &__body_right {
        position: absolute;
        top     : 67px;
        left    : 93px;

        height: 57px;
        width : 58px;

        background-color: #DDDADA;
        clip-path       : polygon(30% 100%, 100% 100%, 0% 0);
        animation       : pyramideShade 4s cubic-bezier(.4, 0, .49, 1) infinite reverse;
    }

    &__sand {
        width           : 100%;
        height          : 56px;
        background-color: #F0DE75;
        animation       : fillSand 4s cubic-bezier(.4, 0, .49, 1) infinite;
    }
}

@keyframes sunUpDown {
    0% {
        background: #F57209;
        transform : rotate(-70deg);
    }

    30% {
        background: #FFEF00;
        transform : rotate(-28deg);
    }

    70% {
        background: #FFEF00;
    }

    100% {
        background: #F57209;
        transform : rotate(70deg);
    }
}

@keyframes fillSky {
    0% {
        background: #272C34;
    }

    30% {
        background: #7DDFFC;
    }

    70% {
        background: #7DDFFC;
    }

    100% {
        background: #272C34;
    }
}

@keyframes fillSand {
    0% {
        background: #272C34;
    }

    30% {
        background: #F0DE75;
    }

    70% {
        background: #F0DE75;
    }

    100% {
        background: #272C34;
    }
}

@keyframes pyramideShade {
    0% {
        background: #272C34;
    }

    30% {
        background: #F4F4F4;
    }

    70% {
        background: #DDDADA;
    }

    100% {
        background: #272C34;
    }
}